In [54]:
import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv('Books.csv')
users = pd.read_csv('Users.csv')
ratings = pd.read_csv('Ratings.csv')

/tmp/ipykernel_10954/1748781244.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

In [3]:
print('Books size: {}'.format(books.shape))
print('Users size: {}'.format(users.shape))
print('Ratings size: {}'.format(ratings.shape))

Books size: (271360, 8)
Users size: (278858, 3)
Ratings size: (1149780, 3)

## Handling Books

In [4]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [6]:
books['Image'] = books['Image-URL-M']

In [7]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Image
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [8]:
books.drop(columns=['Image-URL-S', 'Image-URL-M', 'Image-URL-L'], inplace=True)

In [9]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [10]:
books['Image'] = books['Image'].str.replace('http://', 'https://')

In [11]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,https://images.amazon.com/images/P/0195153448....
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,https://images.amazon.com/images/P/0002005018....
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,https://images.amazon.com/images/P/0060973129....
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,https://images.amazon.com/images/P/0374157065....
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,https://images.amazon.com/images/P/0393045218....

In [12]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image                  0
dtype: int64

In [13]:
books.duplicated().sum()

0

## Handling Users

In [14]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [15]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [16]:
users.duplicated().sum()

0

## Handling Ratings

In [17]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [18]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [19]:
ratings.duplicated().sum()

0

In [20]:
ratings_with_details = ratings.merge(books, on='ISBN')

## Popularity Based Recommender System

In [21]:
num_ratings = ratings_with_details.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_ratings.rename(columns={'Book-Rating': 'num_ratings'}, inplace=True)

In [22]:
num_ratings.head()

                                          Book-Title  num_ratings
0   A Light in the Storm: The Civil War Diary of ...            4
1                              Always Have Popsicles            1
2               Apple Magic (The Collector's series)            1
3   Ask Lily (Young Women of Faith: Lily Series, ...            1
4   Beyond IBM: Leadership Marketing and Finance ...            1

In [23]:
avg_ratings = ratings_with_details[['Book-Title', 'Book-Rating']].groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_ratings.rename(columns={'Book-Rating': 'avg_ratings'}, inplace=True)

In [24]:
avg_ratings.head()

                                          Book-Title  avg_ratings
0   A Light in the Storm: The Civil War Diary of ...         2.25
1                              Always Have Popsicles         0.00
2               Apple Magic (The Collector's series)         0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...         8.00
4   Beyond IBM: Leadership Marketing and Finance ...         0.00

In [88]:
popular_books = num_ratings.merge(avg_ratings, on='Book-Title')

In [89]:
agg_rating_of_all_books = popular_books
popular_books.head()

                                          Book-Title  num_ratings  avg_ratings
0   A Light in the Storm: The Civil War Diary of ...            4         2.25
1                              Always Have Popsicles            1         0.00
2               Apple Magic (The Collector's series)            1         0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...            1         8.00
4   Beyond IBM: Leadership Marketing and Finance ...            1         0.00

In [90]:
popular_books = popular_books[popular_books['num_ratings']>=250].sort_values('avg_ratings', ascending=False).head(50)

In [91]:
popular_books = popular_books.merge(books, on='Book-Title').drop_duplicates('Book-Title')
popular_books = popular_books.reset_index().drop(columns=['index'])
popular_books.drop(columns=['Publisher', 'ISBN'], inplace=True)

In [92]:
popular_books.head()

,Book-Title,num_ratings,avg_ratings,Book-Author,Year-Of-Publication,Image
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,J. K. Rowling,1999,https://images.amazon.com/images/P/0439136350....
1,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,J. K. Rowling,2000,https://images.amazon.com/images/P/0439139597....
2,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410,J. K. Rowling,1998,https://images.amazon.com/images/P/0590353403....
3,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441,J. K. Rowling,2003,https://images.amazon.com/images/P/043935806X....
4,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453,J. K. Rowling,2000,https://images.amazon.com/images/P/0439064872....

In [93]:
popular_books.shape

(50, 6)

## Collaborative Filter Based Recommender System

In [94]:
x = ratings_with_details.groupby('User-ID').count()['Book-Rating'] >= 200
useful_users = x[x].index

In [95]:
filtered_ratings = ratings_with_details[ratings_with_details['User-ID'].isin(useful_users)]

In [96]:
y = filtered_ratings.groupby('Book-Title').count()['Book-Rating'] >= 50
useful_books = y[y].index

In [97]:
final_ratings = filtered_ratings[filtered_ratings['Book-Title'].isin(useful_books)]

In [98]:
final_ratings.duplicated().sum()

0

In [99]:
data = final_ratings.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')

In [100]:
data.shape

(707, 815)

In [101]:
data.fillna(0, inplace=True)

In [102]:
data.isnull().sum().sum()

0

### Cosine Similarity

In [103]:
from sklearn.metrics.pairwise import cosine_similarity

In [104]:
similarity_scores = cosine_similarity(data)

In [105]:
similarity_scores.shape

(707, 707)

### Recomender Function

In [165]:
def recommend(user_input):
    index_ar = np.where(data.index == user_input)[0]
    if index_ar.shape[0] == 0:
        df =  popular_books.sample(6)
        return df[['Book-Title', 'Book-Author', 'Image', 'num_ratings', 'avg_ratings']].values.tolist()
    index = index_ar[0]
    similar_items = sorted(list(enumerate(similarity_scores[index])), key=lambda x:x[1], reverse=True)[1:7]

    recommendation = []
    for i in similar_items:
        item = []
        temp = books[books['Book-Title'] == data.index[i[0]]]
        item.extend(list(temp.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp.drop_duplicates('Book-Title')['Image'].values))

        temp = agg_rating_of_all_books[agg_rating_of_all_books['Book-Title'] == data.index[i[0]]]
        item.append(temp.values[0][1])
        item.append(temp.values[0][2])
        
        recommendation.append(item)
    return recommendation

In [166]:
recommend('Message in a Bdottle')

[["The Hitchhiker's Guide to the Galaxy",
  'Douglas Adams',
  'https://images.amazon.com/images/P/0671461494.01.MZZZZZZZ.jpg',
  268,
  4.3283582089552235],
 ['Silence of the Lambs',
  'Thomas Harris',
  'https://images.amazon.com/images/P/0312924585.01.MZZZZZZZ.jpg',
  256,
  3.9609375],
 ['The Bean Trees',
  'Barbara Kingsolver',
  'https://images.amazon.com/images/P/0060915544.01.MZZZZZZZ.jpg',
  389,
  4.087403598971722],
 ['Neverwhere',
  'Neil Gaiman',
  'https://images.amazon.com/images/P/0380789019.01.MZZZZZZZ.jpg',
  265,
  4.449056603773585],
 ['The Da Vinci Code',
  'Dan Brown',
  'https://images.amazon.com/images/P/0385504209.01.MZZZZZZZ.jpg',
  898,
  4.642538975501114],
 ['The Hobbit : The Enchanting Prelude to The Lord of the Rings',
  'J.R.R. TOLKIEN',
  'https://images.amazon.com/images/P/0345339681.01.MZZZZZZZ.jpg',
  281,
  5.00711743772242]]

## Export

In [55]:
import pickle

In [56]:
pickle.dump(popular_books, open('popular_books.pkl', 'wb'))

In [143]:
pickle.dump(data, open('data.pkl', 'wb'))

In [145]:
pickle.dump(similarity_scores, open('similarity_scores.pkl', 'wb'))

In [146]:
pickle.dump(books, open('books.pkl', 'wb'))

In [147]:
pickle.dump(agg_rating_of_all_books, open('agg_rating_of_all_books.pkl', 'wb'))